@import url('https://fonts.googleapis.com/css?family=Homenaje');

body  {
  text-align: center;
  font-family: "Homenaje";
  color: #222;

  background: url("img/paper1.jpg");

}

.logo-container {
  margin: 0 auto;
  width: 90vw;
  height: 30vh;
  background: url("img/logo-cd.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


.coming-soon {
  width: 50rem;
  /*background-size: contain;*/
  max-width: 90vw;
  border: 1em solid #3acf1d;
  /*height: 5cm;*/
  margin: 0 auto;
  background-color: white;
  margin-top: 3em;
  box-shadow: 3px 6px 20px rgba(0,0,0,0.3);
}

.coming-soon-text {
  font-size: 2.5em;
  padding: 1em;
  /*text-align: center;*/
}

.contact {
  padding: 1.5em;
  font-size: 2em;
  /*padding-bottom: 1em;*/
  letter-spacing: 0.1em;
  margin-bottom: 0.5em;
}

.dvc {
  font-weight: bold;

}
